.movie_container{
    background-color: grey;

    h2{
        color: white;
    }
}

.carousel__image {
    height: 500px;
    width: 100%;
}

img {
    opacity: 90%;
}

@media (min-width: 768px) {
    .carousel__image  {
        width: 100%;
    }
}